@charset "utf-8";
/* CSS Document */

#Jay {
	position: absolute;
	width: 100%;
	z-index: 1;
	left: 0px;
	top: 0px;
}
#Jay #daohanglan {
	height: 70px;
	width: 100%;
	background-color: #313131;
}
#Jay #daohanglan #daohangzhongbu {
	height: 70px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
}
#Jay #daohanglan #daohangzhongbu #logo {
	height: 32px;
	width: 150px;
	padding-top: 19px;      /*上内边距*/
	padding-left: 50px;     /*左内边距*/
	float: left;            /*左浮动*/
	font-family: "微软雅黑";
	font-weight: bolder;    /*粗体*/
	color: #FFF;         /*字体初始颜色*/
	font-style: italic;   /*斜体样式*/
	font-size: 25px;     /*字体大小*/
}

#Jay #daohanglan #daohangzhongbu #my-daohanglan
{
	height: 60px;
	width: 500px;
	padding-top: 5px;
	padding-left: 85px;
	float: left;
	position: absolute;
	margin-left: 460px;
	font-family: "微软雅黑";
	font-size: 14px;
	z-index: 999;
}

#Jay #daohanglan #daohangzhongbu #my-daohanglan ul li{ /*导航栏相关定义*/
	width:105px;
	height:49px;
	text-align:center;
	padding-top: 15px;
	line-height:35px;
	float:left;
	list-style:none;
	margin-left:0px;
	padding:0px;
	list-style-type:none;
	background:#313131;

	
	}
#Jay #banner {
	height: 400px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	background-image: url(../images/banner01.jpg);
}
#Jay #banner:hover {

	background-image: url(../images/banner02.jpg);
}
#Jay #daohanglan #daohangzhongbu #my-daohanglan ul li ul{
	display:none;
	margin-left:0px;
	margin:0px;
	padding:0px;
	list-style-type:none;
	}
#Jay #daohanglan #daohangzhongbu #my-daohanglan ul li:hover ul{
	display:block;
	}
#Jay #daohanglan #daohangzhongbu #my-daohanglan ul li:hover{ /*导航栏高亮*/
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #fa79d7;   /*选择下边框颜色*/
	}
	/*横向导航结束*/


#Jay #tuijian {
	height: 270px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
#Jay #tuijian #tuijian01 {
	float: left;
	height: 270px;
	width: 290px;
}
#Jay #tuijian #tuijian01 #tuijiantu {
	height: 204px;
}
#Jay #tuijian #tuijian01 #tuijianwenzi {
	height: 66px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #282828;
	width: 290px;
}
#Jay #tuijian #tuijian02 {
	float: left;
	height: 270px;
	width: 290px;
	margin-left: 90px;
}
#Jay #tuijian #tuijian02 #tuijiantu2 {
	height: 204px;
}
#Jay #tuijian #tuijian02 #tuijianwenzi2 {
	height: 66px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #282828;
	width: 290px;
}
a.blue:link {
	color: #179acc;
	text-decoration: none;
}
a.blue:visited {
	text-decoration: none;
	color: #179acc;
}
a.blue:hover {
	text-decoration: none;
	color: #fa79d7;
}
a.blue:active {
	text-decoration: none;
}

a:link {
	color: #FFF;
	text-decoration: none;
}
a.black:link {
	color: #000000;
	text-decoration: none;
}
a.black:visited {
	text-decoration: none;
	color: #000000;
}
a.black:hover {
	text-decoration: none;
	color: #fa79d7;
}
a.black:active {
	text-decoration: none;
}

a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #fa79d7;
}
a:active {
	text-decoration: none;
}
#Jay #xinwen {
	height: 360px;
	width: 1050px;
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fcfcfc;
	border: 1px solid #f1f1f1;
}
#Jay #xinwen #xinwenzi {
	float: left;
	height: 280px;
	width: 420px;
	margin-top: 40px;
	margin-left: 80px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #000;
	line-height: 39px;
}
#Jay #dibu {
	background-color: #313131;
	height: 80px;
	width: 100%;
	margin-top: 50px;
}
#Jay #dibu #dibuzhongbu {
	height: 80px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #FFF;
}#Jay #w1050 {
	height: 680px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #333;
	line-height: 35px;
}#Jay #w1051 {
	height: 400px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
.a-dazi {
	font-family: "微软雅黑";
	font-size: 28px;
	color: #333;
}
* {
	text-decoration:none;
	list-style:none;
	
}
input, button, select, textarea {
	outline:none;
}
textarea {
	font-size:13px;
	resize:none;
}
#banner1{
	width: 1050px;
	height: 380px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
	overflow:hidden;
	z-index:1;
}
#picbox{
	width:5250px;
	height:380px;
	position:absolute;
	top:0px;
	left:0px;
}
.pics{
	width:1050px;
	height:380px;
	float:left;
}
#pic1{
	background:url(/static/images/gg1.jpg);
}
#pic2{
	background:url(/static/images/gg2.jpg);
}
#pic3{
	background:url(/static/images/gg3.jpg);
}
#pic4{
	background:url(/static/images/gg4.jpg);
}
#pic5{
	background:url(/static/images/gg5.jpg);
}

#nav{
	width:200px;
	height:22px;
	position:absolute;
	bottom:10px;
	left:465px;
}
.anvli{
	width:18px;
	height:16px;
	float:left;
	margin-right:8px;
	cursor:pointer;
	background:url(/static/images/dot.png) 0px -16px;
}
.navnow{
	background:url(/static/images/dot.png) 0px 0px;
}
.hbut{
	width:60px;
	height:90px;
	position:absolute;
	top:140px;
	cursor:pointer;
}
#pre{
	left:0px;
	background:url(/static/images/ad_ctr.png) 0px 0px no-repeat;
}
#next{
	right:0px;
	background:url(/static/images/ad_ctr.png) 0px -90px no-repeat;
}
#Jay #login {
	height: 520px;
	width: 1050px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	background-image: url(/static/images/login.jpg);
}
 .divAll{
	width: 450px;
	font-family: "微软雅黑";
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	padding-top: 60px;
   }
 #titles{ 
   font-weight:bold; 
   font-size:12px; 
   height:50px; 
   line-height:50px; 
   background:#FFF9F3; 
   text-align:center;  
   border:1px solid #CCC;; 
   }
 #contents{
	 padding-top: 6px;
	font-family: "微软雅黑";
	font-size: 13px;
	background: rgba(255,255,255,0.2);
	color: #FFF;
	margin-top: 27px;
    }
  #form-itemGroup{ 
   padding:5px;  
    }
  #form-itemGroup label{ 
    display:inline-block; 
    width:100px; 
    height:32px; 
    line-height:32px; 
    color: #f5f5f5; 
    text-align:right; 
    }
  #form-itemGroup .userName{
	width: 180px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #CCC;
    }  
  #form-itemGroup .default{
	width: 350px;
	height: 32px;
	line-height: 32px;
	color: #d7d7d7;
    } 
  #form-itemGroup .error{ 
    height:32px; 
    line-height:32px; 
    color:#F00; 
    }
  #form-itemGroup .success{ 
    height:32px; 
    line-height:32px; 
    color:#096; 
    }  
  .divBtn{
	margin-top: 20px;
	margin-left: 20px;
	width: 100px;
	height: 32px;
	line-height: 32px;
	background-color: #888888;
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: bold;
	border: none;
    }


/*  */

ul.blog-types {
    list-style-type: none;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.blog h3 {
    margin-top: 0.5em;
}
div.blog p.blog-info {
    margin-bottom: 0;
}
div.paginator {
    text-align: center;
}

ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}
ul.blog-info-description li{
    display: inline-block;
    margin-right: 1em;
}
div.blog-content{
    text-indent: 2em;
}
div.blog-more {
    margin-top: 1em;
}

div.comment-area {
    margin-top: 2em;
	margin-left: 5em;
}
h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget {
    width: 100%;
}

/**/
/* Basic Grey */

